#rename me to .env, and change per environment, .env should not be commited contains
#sensitive settings

#for dev only
USE_DOCKER_DEBUG=yes

# PostgreSQL
POSTGRES_PASSWORD=mysecretpass
POSTGRES_USER=mhackspace
DATABASE_URL=postgres://mhackspace:mysecretpass@postgres:5432/mhackspace

# General settings
DJANGO_ADMIN_URL=admin
DJANGO_SETTINGS_MODULE=config.settings.local
DJANGO_SECRET_KEY=iud%k99yw!e+z+c12uatugbn=&lsdyd(t_byk9)@dp@lj6*c*n
DJANGO_ALLOWED_HOSTS=.maidstone-hackspace.org.uk

# AWS Settings
DJANGO_AWS_ACCESS_KEY_ID=
DJANGO_AWS_SECRET_ACCESS_KEY=
DJANGO_AWS_STORAGE_BUCKET_NAME=

# Used with email
DJANGO_MAILGUN_API_KEY=
DJANGO_SERVER_EMAIL=
MAILGUN_SENDER_DOMAIN=

# Security! Better to use DNS for this task, but you can use redirect
DJANGO_SECURE_SSL_REDIRECT=False

# django-allauth
DJANGO_ACCOUNT_ALLOW_REGISTRATION=True


COMPRESS_ENABLED=

REDIS_URL=redis://redis:6379
CELERY_BROKER_URL=redis://redis:6379/0

PAYMENT_ENVIRONMENT=sandbox
PAYMENT_REDIRECT_URL=http://127.0.0.1:8180

BRAINTREE_MERCHANT_ID=demo
BRAINTREE_PUBLIC_KEY=demo
BRAINTREE_PRIVATE_KEY=demo

PAYPAL_CLIENT_ID=demo
PAYPAL_CLIENT_SECRET=demo

GOCARDLESS_APP_ID=demo
GOCARDLESS_APP_SECRET=demo
GOCARDLESS_ACCESS_TOKEN=demo
GOCARDLESS_MERCHANT_ID=demo

MATRIX_ROOM=fmCpNwqgIiuwATlcdw:matrix.org
MATRIX_USERNAME=mhackspace
MATRIX_PASSWORD=

MINIO_ACCESS_KEY=thing
MINIO_SECRET_KEY=thing
