#navbar-logo {
  width: 48px;
  height: 48px;
  transition: transform .8s ease-in-out;
  &:hover{
    transform: rotate(360deg);
  }
}

body {
    max-width: 100%;
}

.navbar-brand {
    width:100%;
}
