#navbar-logo {
  width: 48px;
  height: 48px;
  transition: transform .8s ease-in-out;
  &:hover{
    transform: rotate(360deg);
  }
}

html {
    min-height: 100%;
}

body {
    max-width: 100%;
    margin-bottom: 60px;
}

.collapse.show.span-table {
    display: table-cell
}
