#membercard {
    color: #000;
    background-color: #8C50A5;
    border-radius: 14px;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.5);
    background-image: url('/static/images/membership_card_background.png');
    width: 430px;
    height: 240px;
    margin: auto;
    text-shadow: 1px 1px #FFF;
    position: relative;
    .middle {
        font-size: 2rem;
        text-align: center;
        margin: 50px;
    }
    .date {
        padding:14px;
    }
}
