.modal-body iframe {
    width: 100%;
    height: 100%;
}
.modal-dialog {
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: 50px;
    padding: 0;
    max-width: None;
}

.modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}
