$white: #fff;
$mint-green: #d6e9c6;
$black: #000;
$pink: #f2dede;
$dark-pink: #eed3d7;
$red: #b94a48;

$teal: #008080;

$brand-primary: $teal;

$font-family-sans-serif: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
$font-size-base: 14px !default;

$headings-font-family: inherit !default;
