{% extends "base.html" %}

{% block content %}

<h3>What is a Hackspace / Makerspace?</h3>
<p>A hackspace also referred to as a makerspace is a community-operated, workspace where people with common interests, often in Science, Technology, Engineering, Art, and Maths can meet, socialise and collaborate.</p>

<p>Most people do not have the space, knowledge, or finance required to create things at home. Hackspaces resolve this in exchange for a monthly fee, by providing a dedicated workspace, a resource pool of like-minded members with various skills and expertise to call upon, and access to tools and machinery.</p>

<h3>How to Find Us:</h3>
We currently have two rooms on the top floor of the Maidstone Community Support Centre.<br>
<iframe width="550" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=maidstone%20hackspace&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>
<p>Maidstone Community Support Centre<br>
22 Marsham Street<br>
Maidstone<br>
ME14 1HG</p>

<h3>Open Evenings:</h3>
<p>Every Wednesday the Hackspace usually hosts an open evening from <strong>5:30pm</strong> till <strong> 8:00pm </strong>, for members and non-members alike. These evenings provide members of the public an opportunity to learn more about us, see the different activities members are up to, and experience the hackspace first hand. Our <a href="{% url 'home' %}">Home</a> page provides a COVID-19 Coronavirus current status, therefore please refer to this first to establish whether open evenings are active or temporarily suspended.</p>

<p>If you want to check the space out or talk to us about becoming a member, Wednesday nights are the best time. Alternatively if open evenings are not available, you can contact us via our <a href="{% url 'contact' %}">contact form</a> where we can arrange a visit to the hackspace and show you around.</p>

<h3>Membership:</h3>
  <p>
    To operate and grow, Maidstone Hackspace needs your support. The hackspace is paid for entirely by membership fees, donations and workshop charges, and is run by volunteers. Any additional funds we generate beyond the basic monthly costs of running the workspace is reinvested into consumables and tools for members to utilise.
  </p> 
<h4>Advantages of Membership:</h4>
 <ul>
  <li>Use of the Hackspace tools & equipment</li>
  <li>Access to the Hackspace from 06:00hrs - 00:00hrs Mon - Sun</li>
  <li>WiFi access</li>
  <li>Use of shared components, consumables, donated items as well as tea & coffee</li>
  <li>Discounts on Events & Workshops</li>
  <li>A vote on purchases of new equipment</li>
  <li>Opportunity to run workshops if desired</li>
  <li>May attend the AGM and be elected to the Board of Trustees</li>
</ul>
 <p>
   Membership starts at £20 per month. This amount can be adjusted up or down depending on changing circumstances with prior discussion with the Membership Team, for example someone experiencing financial hardship.
  </p> 

<h3>Contact Us</h3>
<p>If you have questions you would like answered, you can contact us via our <a href="{% url 'contact' %}">contact form</a>. Alternatively if you would like to ask a question directly to the members, many of them are reachable via our <a href="https://app.element.io/#/room/#maidstone-hackspace:matrix.org">chatroom</a>. Please be patient when using our chatroom, members are busy and may not respond immediately.</p>

<!---
We have a calendar you can subscribe to which has our meetups we try to keep this up to date.
<a href="https://calendar.google.com/calendar/embed?src=contact@maidstone-hackspace.org.uk&ctz=America/New_York&pli=1">Shared Calendar</a>
--->

{% endblock content %}
