{% extends "base.html" %}

{% block content %}

<h3>What is a hackspace/makerspace</h3>
<p>A hackspace also referred to as a maker space is a community-operated, workspace where people with common interests, often in computers, machining, technology, science, digital art or electronic art, can meet, socialise and collaborate.</p>

<p>Most people do not have the space knowledge or finance required to create things at home, hackspaces get around this by pooling together for the bigger tools sharing of knowledge and helping out each other to create & build.</p>

<h3>Where we are based</h3>
We currently have a room at Maidstone Community Support Centre.<br>
<iframe width="550" height="350" id="gmap_canvas" src="https://maps.google.com/maps?q=maidstone%20hackspace&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><br>
Maidstone Community Support Centre<br>
22 Marsham Street<br>
Maidstone<br>
ME14 1HG</p>

<h3>Contact Us</h3>
<p>If you have questions you would like answered you can ask in <a href="https://app.element.io/#/room/#maidstone-hackspace:matrix.org">chatroom</a>, bare in mind everyone will likely be busy so be patient or prefereable use the 
  <a href="https://groups.google.com/forum/#!forum/maidstone-hackspace">mailing list</a> or <a href="{% url 'contact' %}">contact form</a>.</p>

<h3>When do we meet ? </h3>
<p>We hold open evenings <strong>every wednesday</strong> from <strong>5:30pm</strong> till <strong> 8:00pm </strong>
where members and non-members can visit and hang out, work on projects, socialise, and collaborate.
  <a href="{% url 'about' %}">Learn more</a>.</p>

We have a calendar you can subscribe to which has our meetups we try to keep this upto date.
<a href="https://calendar.google.com/calendar/embed?src=contact@maidstone-hackspace.org.uk&ctz=America/New_York&pli=1">Shared Calendar</a>


{% endblock content %}
