{% extends "base.html" %}

{% block content %}

<p>A hackspace also referred to as a makerspace is a community-operated, workspace where people with common interests, often in computers, machining, technology, science, digital art or electronic art, can meet, socialize and collaborate.<p>

<p>Most people do no have the space knowleddge or finance required to create things at home, hackspaces get around this by poolng together for the bigger tools sharing of knowledge and helping out each other to create & build.</p>

{% endblock content %}
