{% extends "base.html" %}
{% load feed_views %}

{% block content %}
<h2>Chat with us</h2>
<p>
  Pop in and say hi, please be patient users tend to idle, but will likely respond given a chance. We have two main chat rooms one on hangouts and the other on IRC, there are various method of connecting below.
</p>
<p>
  You can use the chat below or join directly using an IRC client or matrix.
</p>
<p>
<a href="https://riot.im/app/#/room/#maidstone-hackspace:matrix.org">Join irc via matrix</a> or grab one of the <a href="https://matrix.org/docs/projects/try-matrix-now.html">mobile apps.</a><br />
<a href="https://freenode.net/kb/answer/chat">Join via freenode website</a>
</p>
<p>
  Connect directly using irc.freenode.org and the #maidstone-hackspace channel via an irc client.
</p>
<iframe src="https://webchat.freenode.net?channels=%23maidstone-hackspace&uio=MTE9MjU207" style="width:100%;height:400px;"></iframe>

<a href="https://hangouts.google.com/group/oDcAL0nDfQYfO3qq1">Alternatively join us on Hangouts</a>

{% endblock content %}
