{% extends "base.html" %}
{% load feed_views %}

{% block content %}
<h2>Chat to us</h2>

Pop in and say hi, please be patient users tend to idle, but will likely respond given a chance.
<a href="https://hangouts.google.com/group/oDcAL0nDfQYfO3qq1">Join us on Hangouts</a> or connect directly to <a href="https://freenode.net/kb/answer/chat">freenode</a> using irc.freenode.org and the #maidstone-hackspace channel.

    <iframe src="https://webchat.freenode.net?channels=%23maidstone-hackspace&uio=MTE9MjU207" style="width:100%;height:400px;"></iframe>


{% endblock content %}
