{% extends "base.html" %}
{% load feed_views %}

{% block content %}
<h2>Chat with us</h2>
<p>
  Pop in and say hi, please wait around our users tend to idle, some one will likely respond given a chance. 
</p>
<p>
<a href="https://riot.im/app/#/room/#maidstone-hackspace:matrix.org">Full screen Chat</a> or grab one of the <a target="_blank" href="https://matrix.org/docs/projects/try-matrix-now.html">mobile apps. 
</p>

<iframe src="https://riot.im/app/#/room/#maidstone-hackspace:matrix.org" style="width:100%;height:600px;"></iframe>


<a target="_blank" href="https://riot.im/app/#/room/#maidstone-hackspace:matrix.org" style="width:100%;height:600px;">Full screen chat</a>

<p>
  Connect directly using irc.freenode.org and the #maidstone-hackspace channel via an irc client.
</p>
<a href="https://hangouts.google.com/group/oDcAL0nDfQYfO3qq1">Alternatively join us on our legacy Hangouts chat</a>

{% endblock content %}
