{% extends "base.html" %}
{% load feed_views %}
{% load banner_images %}
{% load static from staticfiles %}

{% block content %}

  {% show_banner_images %}

  <h2>Introduction</h2>
  <p>Hackspaces are a shared space where artists, designers, makers, hackers, programmers, tinkerers, professionals and hobbyists can work on their projects, share knowledge and collaborate.</p>
  <p>We now how a space as of March 2017, we are now in the process of kitting it out with tools to facilitate working on your projects, At the moment, communication is via google groups, email, and the website. If you're at all intrested please join our mailing list and say hi.</p>
  <p>If you would like to visit us <a href="https://www.google.co.uk/maps/place/Maidstone+Community+Support+Centre/@51.2743759,0.5252557,17z/data=!3m1!4b1!4m5!3m4!1s0x47df32307962b7b3:0x8478b1177ec21ef7!8m2!3d51.2743759!4d0.5274444">click here</a> for a map, and check the <a href="https://groups.google.com/forum/#!forum/maidstone-hackspace">mailing list</a> for when we are at the space.</p>

  {% show_feeds %}
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
 $(document).ready(function(){
     $('.carousel').carousel();
 });
</script>
{% endblock %}
