{% extends "base.html" %}
{% load feed_views %}
{% load banner_images %}
{% load static from static %}

{% block content %}

  {% show_banner_images %}

<section>
            <h3>Reopening Maidstone Hackspace to Members:</h3>
            <p>
              Maidstone Hackspace reopened on the 18th of September 2021 for members only. Our Wednesday open evenings are currently suspended, however feel free to ask the Membership Team via our <a href="{% url 'contact' %}">contact form</a> if you wish to know more about when we are restarting classes and open evenings.
            </p>
</section>

  <h3>About Us:</h3>
  <p>
    We’re a community-run workshop where people can come to learn new skills, share experience, and utilise tools and equipment to develop various personal and collaborative projects. If you like to tinker, make, and learn and have a fascination for topics such as electronics, DIY, robotics, crafts, and computing to name a few,  it’s the place for you.
  </p> 
  <p>
    If you're interested and would like to learn more, visit our <a href="{% url 'about' %}">About page</a>.  
  </p>

  {% show_feeds %}
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
 $(document).ready(function(){
     $('.carousel').carousel();
 });
</script>
{% endblock %}


