{% extends "base.html" %}
{% load feed_views %}
{% load banner_images %}
{% load static from staticfiles %}

{% block content %}

  {% show_banner_images %}

<section>
            <h3>We are currently operating as a virtual makerspace due to COVID-19</h3>
            <p>
                To join the video conference use <a href="https://meet.jit.si/maidstone-hackspace"> follow this link, check in the chat but this will run on Wednesday evening possibly other if people want to use it.</a>
                </p>
            <p>

                To join in discussion visit <a href="https://riot.im/app/#/room/#maidstone-hackspace:matrix.org"> the chat room and say hi. </a>.
                </p>
            <p>
              You can join us <strong>any Wednesday evening</strong> from <strong>5:30pm</strong> until <strong> 8:00pm </strong>
                where anyone can hang out and work on projects while socialising at the same time.
                <a href="{% url 'about' %}">Learn more</a>.
            </p>
        </section>

  <h3>Introduction</h3>
  <p>Hackspaces (also known as Makerspaces) are a shared space in which artists, designers, makers, hackers, programmers, tinkerers, professionals and hobbyists can work on their projects, share knowledge and collaborate.</p>

  <p>Our space is kitted out with tools to facilitate working on your projects. You can contact via a <a href="https://groups.google.com/forum/#!forum/maidstone-hackspace">mailing list</a>, email, and <a href="https://riot.im/app/#/room/#maidstone-hackspace:matrix.org">Chat</a>. If you're intrested please join our mailing list and come say hey.</p>

  <p>If you would like to visit us <a href="https://www.google.co.uk/maps/place/Maidstone+Community+Support+Centre/@51.2743759,0.5252557,17z/data=!3m1!4b1!4m5!3m4!1s0x47df32307962b7b3:0x8478b1177ec21ef7!8m2!3d51.2743759!4d0.5274444">click here</a> for a map, and check the <a href="https://groups.google.com/forum/#!forum/maidstone-hackspace">mailing list</a> for when we are at the space, we recommend contacting us to avoid disappointment.</p>

  {% show_feeds %}
{% endblock content %}

{% block javascript %}
{{ block.super }}
<script type="text/javascript">
 $(document).ready(function(){
     $('.carousel').carousel();
 });
</script>
{% endblock %}


