{% extends "base.html" %}
{% block content %}


<div class="row">
  <div class="col-md-4"><h1>Hackspace Members</h1></div>
  <div class="col-md-4"><a href="#">Total Users <span class="badge badge-default">{{ paginator.count }}</span></a></div>
  <div class="col-md-4"><a href="#">Total Members <span class="badge badge-success">{{ total }}</span></a></div>
</div>

<br />

<div class="card-columns" id="feeds">
  <div class="card-deck">
    {% for member in members %}
    <div class="card">
      {% if member.image %}
        <img class="card-img-top img-responsive" src="{{ MEDIA_URL }}{{ member.image }}" alt="Card image cap" style="width:100%">
      {% endif %}
        <div class="card-block">
          <h4 class="card-title">{{ member.name }}</h4>
          <p class="card-text">{{ member.users.description }}</p>
          <p class="card-text">{{ member.users.skills }}</p>
          <p class="card-text">{{ member.status }}</p>
          {% for group in member.groups.all %}
            {{ group.name }}
          {% endfor %}
        </div>
        <div class="card-block">
          <p class="card-text">{{ member.blurb }}</p>
        </div>
      </div>
      {% if forloop.counter|divisibleby:3 %}</div><div class="card-deck">{% endif %}
    {% endfor %}
  </div>
</div>

{% endblock %}
