{% load static %}
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner" role="listbox" style="height:300px;">
    {% for banner in bannerlist %}
      {% if banner.scaled_image%}
        <div class="carousel-item {% if forloop.first %}active{% endif %}">
          <picture>
            <source class="img-fluid" srcset="{{ banner.scaled_image.url }}" media="(min-width: 600px)" />
            <img class="img-fluid" src="{{ banner.scaled_image.url }}" alt="">
          </picture>
          <div class="carousel-caption d-none d-md-block">
            <h3>{{ banner.title }}</h3>
            <p>{{ banner.description |truncatewords:30}}</p>
          </div>
        </div>
      {% endif %}
    {% endfor %}
  </div>
</div>

