<!DOCTYPE html>
<html class="tachyon ma0 pa0 h-100">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/tachyons@4.10.0/css/tachyons.min.css" />
</head>

<body class="ma0 pa0">
    <div class="flex items-center">
        <div class="tc dt pa4 v-mid">
            <div class="br-100 dtc pa1 ba b--black-10 h3 w3 v-mid">
                <span class="f3">{{members}}</span>
            </div>
        </div>
        <div>
            Members
        </div>
        <div class="tc dt pa4 v-mid">
            <div class="br-100 dtc pa1 ba b--black-10 h3 w3 v-mid">
                <span class="f3">{{members_expired}}</span>
            </div>
        </div>
        <div>
            Expired
        </div>
    </div>
</body>

</html>
