<div class="card-columns" id="feeds">
  {% for article in articles %}
    <div class="card" style="width: 20rem;">
      <img class="card-img-top img-fluid" src="{{ article.image }}" alt="{{ article.title }}">
      <div class="card-block">
        <h4 class="card-title">{{ article.title }}</h4>
        <p class="card-text">{{ article.author }}</p>
        <p class="card-text">{{ article.description|striptags }}</p>
        <a href="{{ article.url }}" class="card-link">View Original</a>
      </div>
    </div>
  {% endfor %}
</div>
